Bonjour {{ first_name }}, je rencontre des responsables RSE d'ETI sur la mise en place du reporting CSRD{% if csrd_wave %} vague {{ csrd_wave }}{% endif %}. J'aimerais comprendre comment ça se passe chez {{ company }}. 30 min d'échange ? Pas de pitch, juste de l'écoute.
