Bonjour {{ first_name }}, je rencontre des Chief Sustainability Officers d'ETI pour comprendre comment vous structurez la démarche ESG dans une organisation de {{ size }} collaborateurs. 30 min d'échange ? Pas de pitch, juste de l'écoute.
