Bonjour {{ first_name }}, {{ mutual_contact|default("un contact mutuel") }} m'a suggéré de vous contacter. Je rencontre des {{ role_label }} d'ETI sur la mise en place du reporting CSRD. 30 min d'échange ? Pas de pitch, juste de l'écoute.
